@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* font-family: 'Montserrat', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 247, 248);
}

.container{
    width: 80vw;
    height: 2000px;
    background-color: rgb(245, 247, 248);
    margin: 0 auto;

}


.esquerda{
    background-color: rgb(245, 247, 248);
    width: 200px;
    height: 100%;
}
.corpo{
    width: 150px;
    height: 350px;
    margin: 10px;
    margin-left: 27px;

}

.cabecalho{
    margin-left: 173.5px;
    width: 1029px;
    height: 130px;
    padding:15px;
    background-color: rgb(245, 247, 248);

}


.separa{
    width: 1000px;
    height: 15px;
    background-color: rgb(208, 210, 210);
    position: relative;
    top: 24px;

}

.sobremim{
    background-color: rgb(245, 247, 248);
    position: relative;
    top: 40px;
}

.lorem_sobremim{
    background-color: rgb(245, 247, 248);
    position: relative;
    top: 50px;
}

.contato_foto{
    width: 1000px;
    height: 432px;
    background-color: rgb(245, 247, 248);
    position: relative;
    top: 65px;
}

.habilidades{
    width: 1000px;
    height: 300px;
    background-color: rgb(245, 247, 248);
    position: relative;
    top: 80px;

}

.front_end{
    width: 1000px;
    height: 35px;
    background-color: gray;
    
}
.perc_front{
    width: 800px;
    height: 35px;
    background-color: rgb(32, 32, 32);
    position: relative;
    color: white;
}

.back_end{
    width: 1000px;
    height: 35px;
    background-color: gray;
}
.perc_back{
    width: 400px;
    height: 35px;
    background-color: rgb(32, 32, 32);
    position: relative;
    color: white;
}

.design_end{
    width: 1000px;
    height: 35px;
    background-color: gray;
}
.perc_design{
    width: 600px;
    height: 35px;
    background-color: rgb(32, 32, 32);
    position: relative;
    color: white;
}
/*     background-color: rgb(245, 247, 248);
*/
.formacao{
    width: 1000px;
    height: 620px;
    background-color: rgb(245, 247, 248);
    position: relative;
    top: 935px;
    left: 188px;
}
.idiomas{

    width: 1000px;
    height: 300px;
    background-color: rgb(245, 247, 248);
    position: relative;
    top: 875px;
    left: 188px;

}

.portugues{
    width: 1000px;
    height: 35px;
    background-color: gray;
    
}
.perc_portugues{
    width: 1000px;
    height: 35px;
    background-color: rgb(32, 32, 32);
    position: relative;
    color: white;
}

.separa2{
    width: 1000px;
    height: 15px;
    background-color: rgb(208, 210, 210);
    position: relative;
    top: 845px;
    left: 188px;

}

.projetos{
    background-color: rgb(245, 247, 248);
    position: relative;
    top: 1560px;
    left: 215px;
}

.foto1 {
    background-color:  rgb(245, 247, 248);
    width: 333.33px;
    height: 250px;
    margin-top: 25px;
}

.texto1>h2{
    background-color: rgb(245, 247, 248);
    width: 333.33px;
    height: 100px;
    margin-top: 0;
    
}
.texto1>p{
    background-color: rgb(255, 255, 255);
    width: 333.33px;
    height: 500px;
   
}

.projeto1{
    display: inline-block;
}

.foto2 {
    background-color:  rgb(245, 247, 248);
    width: 333.33px;
    height: 250px;
 
}

.texto2>h2{
    background-color: rgb(245, 247, 248);
    width: 333.33px;
    height: 100px;
    
}
.texto2>p{
    background-color: rgb(255, 255, 255);
    width: 333.33px;
    height: 500px;
   
}

.projeto2{
    margin-top: 1px;
    top: 51px;
    left: 335px;
    position: absolute;

}


.foto3 {
    background-color:  rgb(245, 247, 248);
    width: 333.33px;
    height: 250px;
 
}

.texto3>h2{
    background-color: rgb(245, 247, 248);
    width: 333.33px;
    height: 100px;
    
}
.texto3>p{
    background-color: rgb(255, 255, 255);
    width: 333.33px;
    height: 500px;
   
}

.projeto3{
    margin-top: 1px;
    top: 51px;
    left: 669px;
    position: absolute;

}

.separa3{
    width: 1000px;
    height: 15px;
    background-color: rgb(208, 210, 210);
    position: relative;
    top: 1580px;
    left: 215px;

}

.quanto_cobro{
top: 1600px;
left: 215px;
position: relative;

}

.tabela_preco{

    width: 1000px;
    height: 500px;
    top: 1613px;
    left: 220px;
    position: relative;
}

td{
    text-align: center;
    width: 333.33px;
    height: 100px;
    border: 2px solid rgb(209, 210, 210) ;    
    font-size: 1.3em;
    border-style: groove;

}
th{
    height: 100px;
    text-align: center;
    border: 2px solid rgb(209, 210, 210) ;    
    background-color: rgb(208, 210, 210);
    font-size: 1.3em;
    border-style: groove;



}

form {
    margin: 80px;
    width: 1000px;
    height: 838px;
    padding: 1em;
    border: 1px solid #CCC;
    position: absolute;
    left: -70px;
    top: 720px;
    background-color: rgb(137, 137, 136);
}

form div + div {
    margin-top: 1em;
}

label {
   
    display: block;
    width: 90px;
    text-align: left;
    color: white;
    font-size: larger;
    
}

input, textarea {
   
    font: 1em sans-serif;
    width: 950px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    
    border-color: #000;
}

textarea {
    
    vertical-align: top;

    height: 5em;

    
    resize: vertical;
}

.button {
   
    padding-left: 90px;
}
button {
   
    margin-left: .5em;
}

input{
    border-radius: 7px;
}

textarea{
    border-radius: 7px;

}

button{
    background-color: #000;
    color: white;
    border-radius: 7px;
    padding: 10px;
    font-weight: bold;
}

select {
    width: 950px;
    height: 20px;
    border-radius: 7px;
    margin-top: -30px;
}

.separa4{
    width: 1000px;
    height: 15px;
    background-color: rgb(208, 210, 210);
    position: relative;
    top: 50px;
    left: 5px;

}
@media (max-width: 1281px) {

    .antiga_lateral{
        display: none;
    }


    h2{
        color: blueviolet;
    }
    
    .cabecalho{
        margin-top: 400px;
    }

 img{
    width: 500px;
    

}



}

@media (min-width: 1281px) {

    .nova_lateral{
        display: none;
    }

}